@model AdministrationViewModel

@{
    ViewData["Title"] = "Administration";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form class="well form-horizontal" asp-controller="Home" asp-action="AddProduct" method="post">
                        <h2>Produkt hinzufügen</h2>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Produktname</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-p"></i></span><input asp-for="ProductName" /></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Produktbeschreibung</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input asp-for="ProductDescription" /></div>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit">Erstellen</button>
                    </form>
                </td>
                <td colspan="1">
                    <form class="well form-horizontal" asp-controller="Home" asp-action="AddCampaign" method="post">
                        <h2>Werbeaktion hinzufügen</h2>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">ProduktId</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-p"></i></span><input asp-for="MarketingProductId" /></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Rabatt</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input asp-for="MarketingDiscount" /></div>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit">Erstellen</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>